<!DOCTYPE HTML>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%=@title%></title>
	<link rel="stylesheet" type="text/css" href="/theme/default.css">
</head>


<body>
<div id="wrapper">
	<header>
		<h1>페이지 만들기 : <%=@title%></h1>
	</header>
	<div id="corecontents">
		<section id="contents">
<%=erb @editor%>
		</section>
	</div>
	<footer>
	</footer>
</div>

</body>
</html>
