
textarea.editor {
	display: block;
	width: 800px;
	height: 120px;
	padding: 8px;
	border: 1px solid #cccccc;
	line-height: 130%;
	font-size: 13px;
}

div.wiki {
	display: block;
	padding: 8px;
	border: 1px solid #cccccc;
	line-height: 130%;
	font-size: 13px;
}
div.info {
	display: block;
	padding: 8px;
	border: 1px solid #cccccc;
	line-height: 130%;
	font-size: 13px;
}
input[type="text"] {
background-color:transparent;
border: 1px solid;
height:20px;
padding-left:5px;
color:#000;
}

input[type="password"] {
background-color:transparent;
border: 1px solid;
height:20px;
padding-left:5px;
color:#000;
}
